.menu {
    display: flex;
    flex-direction: row;
    background-color: gold;
    min-height: 60px;
    align-items: center;
    width: 100%;
}

/*don't delete*/
.menuOption {
    user-select: none;
    font-size: 25px;
    font-weight: 300;
    margin-left: 30px;
    justify-content: flex-start;
    width:auto;
    height: 100%;
}
/*don't delete*/
.menuOption:hover {
    background-color: yellowgreen;
}
/*don't delete*/
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
/*don't delete*/
.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: cyan;
    
}
/*don't delete*/
.searchContainer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%
}
/*don't delete, you can see grow from this bad boy*/
.searchSidebar
{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    background-color: pink;
    flex-grow: 1;
}
/*don't delete*/
.resultsContainer
{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-width: 60%;
    background-color: lightcoral;
    flex-grow: 2;
}
/*don't delete*/
.myComicsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f352d8;
    justify-content: center;
    align-items: center;
}

.titleLabel {
    font-size: 40px;
    font-weight: 600;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    width: 97%;
    flex-grow: 1;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    background-color: cyan;
}

.reviewHeader {
    display: flex;
    flex-direction: row;
    width: 99%;
    flex-grow: 1;
    
}
.reviewHeaderText {
    flex-grow: 4;
    font-size: 25px;
    font-weight: bold;
}

.reviewHeaderText:hover
{
    color: blue;
}
.review {
    flex-grow: 3;
    font-style: italic;
}
.reviewFooter {
    display: flex;
    flex-direction: row;
}

.reviewRatingText
{
    flex-grow: 1;
    font-size: 20px;
}
/*don't delete*/
.profileContainer {
    display: flex;
    flex-direction: row;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*don't delete*/
.profileInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
}
/*don't delete*/
.friendsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.inputElement {
    display: flex;
    flex-direction: row;
    min-height: 10%;
    min-width: 30%;
}
.friendElement {
    background: rgba(59, 243, 22, 0.884);
    font-family: "Lucida Console";
    align-items:center;
    color: rgba(136, 0, 0, 0.212);
    border-radius: 15%;
    width: auto;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    vertical-align: middle;
    margin: 10px;
}

/*schdule for delete*/
.displayGrid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 100px;
    color: #444;
}

.tagRows {
    display: flex;
    flex-direction: column;
}

.tagRow {
    display: flex;
    flex-direction: row;
}

.containerForComic {
    display: flex;
    padding: 20px;
    margin: 10px;
}

.highlighted {
    filter: brightness(85%);
}
/*schdule for delete*/
.kontForma {
    display: flex;
    flex-direction: column;
    font-size:25px;
    border-radius: 25px;
    background: #73AD21;
    padding: 10px;
    margin:10px;
    flex-grow: 1;
    flex-shrink: 1;
    
}

/*schdule for delete*/
.checkboxInput {
    display: flex;
    flex-direction: row;
}
/*schdule for delete*/
.selected {
    background-color: #2b34b4cb;
    color:green;
}

.emptyScreenLabel {
    font-size: 20px;
    word-wrap: normal;
}

.comicForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: cyan;

}

.comicFormHeader {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    
}

.comicFormHeaderText {
    flex-grow: 4;
    flex-shrink: 2;
    font-size: 25px;
    font-weight: bold;
    
}

.comicHeaderRating {
    flex-grow: 1;
    flex-shrink: 0.5;
    
}

.comicFormBody {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    
}

.comicFormFooter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.rowComicContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.comicFormComicInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 30%;
    flex-shrink: 1;
    
}

.comicFormReviews {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    max-width: 68%;
    flex-shrink: 3;
    /*overflow: auto;*/
    
}

.userForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: cyan;
}

.userFormHeader {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.pageTitleLabel {
    font-size: 30px;
    font-weight: 300;
    background-color: lightgreen;
}

.userFormSubheaderElement {
    font-size: 25px;
    font-weight: 300;
    flex-grow: 1;
}

.userFormBody {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    
}

.userFormFriends {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 30%;
    flex-shrink: 1;
    
}

.userFormReviews {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    max-width: 68%;
    flex-shrink: 3;
    /*overflow: auto;*/
}

.addFriendButton {
    display: flex;
    max-width: 15%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

/**/

.mainHomeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #73AD21;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #5277f3;
}

.titleLabel1 {
    font-size: 40px;
    font-weight: 600;
    flex-grow: 1;
    flex-shrink: 1;
}

.popularContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.friendContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #f352d8;
}

.recContainer{
    display: flex;
    flex-direction: column;
    background-color: #52dbf3;
    flex-grow: 1;
    flex-shrink: 1;
}

.recFriendContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.recComicsContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.recSelectedContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.emptyScreenLabel1 {
    font-size: 20px;
    word-wrap: normal;
}

.emptyScreenLabel2 {
    font-size: 20px;
    word-wrap: normal;
}

.colorRed {
    background-color: red;
}

.alignToStart {
    order: -1;
}

.alignSecond {
    order: 0;
}

.alignThird {
    order: 1;
}

.alignFourth {
    order: 2;
}

.recommendedFriendContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    order: 10;
}